<div class="container">
 <div class="row">
  <div class="col-sm-12col-md-8 col-lg-11 px-5 px-sm-0 mx-auto">


<h3>商品新規登録</h3>

<%= form_with model: @item, url: admin_items_path, local: true do |f| %>

  <h6>商品画像</h6>
  <%= f.file_field :image, accept: "image/*", class: 'mb-3' %>

  <h6>商品名</h6>
  <%= f.text_field :name, class: 'mb-3' %>
  
  <h6>商品説明</h6>
  <%= f.text_area :introduction, class: 'mb-3' %>
  

  <h6>ジャンル</h6>
<%= f.collection_select :genre_id, @genres, :id, :name, class: 'mb-4' %>
  
  <h6>税抜き価格</h6>
   <%= f.text_field :price , class: 'mb-3'%>
  <h6>販売ステータス</h6>
   <%= f.radio_button :is_active, :true %>
   <%= f.label :is_active, "販売中" %>
  <%= f.radio_button :is_active, :folse %>
     <%= f.label :is_active, "販売停止中" %><br>
  
  <%= f.submit '新規登録',class: "btn btn-success glyphicon glyphicon-wrench pull-right" %>
  
<% end %>

  </div>
 </div>
</div>