<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
  <h2>注文履歴詳細</h2>
  <div style="margin-top: 50px;">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">購入者</th>
          <td><%=link_to @order.name, admin_customer_path(@order.customer.id) %></td>
        </tr>
        <tr>
          <th scope="row">配送先</th>
          <td>
            <p><%= @order.postal_code %><%= @order.shipping_address %></p>
            <p><%= @order.name %></p>
          </td>
        </tr>
        <tr>
          <th scope="row">支払方法</th>
          <td><%= @order.method_payment_i18n %></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="row">
  <div class="col-xs-8"style="margin-top: 50px;">
    <table class="table table-bordered">
      <thead>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
         
        </tr>
      </thead>
      <tbody>
        <% @sum = 0 %>
        <% @ordered_items.each do |ordered_item| %>
          <tr>
            <td><%= ordered_item.item.name %></td>
            <td><%= ordered_item.item.price %></td>
            <td><%= ordered_item.amount %></td>
            <td><%= ordered_item.item.price * ordered_item.amount %>
            <% @sum += ordered_item.item.price * ordered_item.amount %>
            </td>
      
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
  <div class="col-xs-4"style="margin-top: 120px; margin-left: 470px;">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">商品合計</th>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <th scope="row">送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th scope="row">請求金額合計</th>
          <td><%= @sum + @order.postage %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>